<h1>

# Python Basics

### Level 1
- variables
- input output
- operators
- data types

### Level 2
- Conditional Statements
    - if
    - ifelse
    - elif
    - match
- loops
    - for
    - while
    - functions

### Level 3
 - string
 - dict
 - list 
 - list and tuple

In [16]:
age = 18
is_married = False
name = 'zeus'
value = 1.323

In [17]:
x = 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999

In [18]:
x = 10**4299
print(x)

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [19]:
x = 1.10
y = 1.0
z = -35.59
t = 87.7e100

In [20]:
name = "Zeus"
color = "Blue"
Institute = 'digipodium'

In [21]:
is_coding = True
is_fun = True
are_u_bored = False

In [22]:
x = None

In [23]:
a = [5,10,15,20,25]
vals = [1,2,2,'python']
colors = ['red','green','blue']

In [24]:
a = (5,10,15,20,25)
vals = (1,2,2,'python')
colors = ('red','green','blue')

In [25]:
a = {5,10,15,20,25}
vals = {1,2.2,'python'}
colors = {'red','green','blue'}

In [26]:
car_info = {
    'brand': 'Buggati',
    'model': 'Bolide',
    'year' : '2022',
}

In [27]:
x = 28
y = 5

In [28]:
print(x+y)
print(x-y)
print(x*y)
print(x/y) # Float Divison
print(x//y) # integer divison
print(x%y)
print(x**y)

33
23
140
5.6
5
3
17210368

In [29]:
2+3*5/3-5+2-(13-10)

1.0

In [30]:
2**3+5//3

9

In [31]:
(3+2)*(5*3)/(3*5)

5.0

In [32]:
a = 100 # a will get 100
a += 15 # add 15 to existing value  of a
a -= 10 # remove 10 from existing value of a

In [33]:
a *= 10  # multiply 10 with current value of a
a %= 5 # store remainder in a after divided current valur by 5
print(a)

0

Comparison Operator

In [34]:
print(x>y)
print(x<y)
print(x==100)
print(x!=30)
print(x>=50)
print(y<=20)

True
False
False
True
False
True

Logical operators for multiple conditions

In [35]:
print(x>y)
print(x<y)
print(x==100)
print(x!=30)
print(x>=50)
print(y<=20)
print('hello' == 'hello')
print('hiiiii' =='Hiii')
print('this' == 'that')

True
False
False
True
False
True
True
False
False

Logical operators for multiple conditions

In [36]:
a = 15
b = 20

In [37]:
a > 10 and b > 3

True

In [38]:
a < 10 and b < 3

False

In [39]:
a > 10 or b < 8

True

Any Value other than is 0 is true

In [40]:
not a

False

In [41]:
bool(152) #true

True

In [42]:
name  = input("enter name :")
bool(name)

True

Membership Operator 'in' and 'not in'

In [43]:
x = [3,56,67,89,23,67,21,278,2,1,5,6,5,5,8]

In [44]:
3 not in x

False

In [45]:
'u' in 'zeus'

True

In [46]:
'x' in 'Zeus'

False

## user input 'input (prompt)' => 'string'
## type casting -> convert one datatype to another
## int()-> conert data into integer
## float()-> convert data into float
## str()-> convert data into string
## list()-> convert data into list
## tuple()-> convert data into tuple
## bool()-> convert data into boolean
## set()-> covert data into set
## dict()-> convert data into dictionary

In [47]:
int(False)

0

In [48]:
int(True)

1

In [49]:
str(1010)

'1010'

In [50]:
name = input('enter your name')
phone = input ('enter your number')
age = int(input('enter your age'))

# WAP to calculate simple interest

In [51]:
p = int(input('Principle Amt'))
r = float(input('Rate of Interest'))
t = float(input('Time in Years'))
si = p * r * t / 100
print(f'PRINCIPLE AMOUNT = {p}')
print(f'Rate of interest = {r}')
print(f'time = {t}')
print(f'simple interest = {si}')

PRINCIPLE AMOUNT = 15000
Rate of interest = 5.5
time = 10.0
simple interest = 8250.0

# WAP to calculate area and circumference of circle using diameter as input

In [52]:
d = float(input('Enter the value of diameter'))
r = d / 2
pi = 22/7 or 3.14
a  = pi * r * r
c = 2 * pi *r
print(f'Diameter = {d}')
print(f'area of circle = {a}')
print(f'circumference of circle = {c}')

Diameter = 12.0
area of circle = 113.14285714285714
circumference of circle = 37.714285714285715

# Displaying information to user

In [53]:
y = input('your name')
x = int(input('how many badges'))
print(f'{y} got {x} awards')

Zeus got 5 awards

# If Condition

In [2]:
count = int(input('Enter the value'))
if (count>5):
    print("Then show this part")
if (count>5):
    print('Then Show this part')
if(count%2==0):
    print('count is even')

Then show this part
Then Show this part
count is even

In [8]:
a = int(input('Enter a'))
b = int(input('Enter b '))
c = int(input('Enter c'))
if a>b and a>c:
    print(f'{a = } is greater')
if b>a and b>c:
    print(f'{b = } is greater')
if c>a and c>b:
    print(f'{c = } is greater')

c = 96 is greater

In [10]:
a = int(input('Enter First Number'))
b = int(input('Enter Second Number'))
if a>=b:
    print(f'{a = } is greater')
else:
    print(f'{b = } is greater')

a = 58 is greater

# Wap to check year is leap year or not

In [3]:
year = int(input('Enter Year'))
if(year%400==0) and (year%100==0):
    print(f'{year} is leap year')
elif(year%4==0) and (year %100!=0):
    print(f'{year} is leap year')
else :
    print(f'{year} is not leap year')

2024 is leap year

# Check length of the list

In [16]:
lst = {'chrome', 'Gmail', 'Youtube', 'Twitter', 'VLC', 'Mega', 'Amazon Prime Video', 'Amazon', 'Discord', 'PUBG', 'BGMI', 'Instagram', 'WhatsApp', 'Drive'}
len(lst)

14

# IF else

In [26]:
username = input('Enter Your Username')
email = input('Enter Your Email')
pwd = input('Enter Your Password')
pwd2 = input('Confirm Your Password')
if len(username)>=4 and len(username)<=15:
    if'@' in email and email.islower() and len(email)>10:
        if len(pwd)>=6 and pwd!=username:
            if pwd==pwd2:
                print("Done 🤷‍♂️")
            else:
                print('password do not match 👀')
        else:
            print('password is invalid 🤦‍♀️')
    else:
         print('email is invalid 😢')
else:    
     print('username is invalid 🤢')

Done 🤷‍♂️

# If-elif

In [16]:
name  = input('Enter Your Name')
max_marks = int(input(f'Enter the marks'))
if max_marks>90:
    print(f'{name} got A+😍')
elif max_marks>75:
    print(f'{name} got B+😃')
elif max_marks>60:
    print(f'{name} got C+🤔')
else:
    print(f'{name} is Fail🤢 🤦‍♂️')

kk is Fail🤢 🤦‍♂️

# Wap to check number is odd or even

In [6]:
num = int(input('Enter Number'))
if num%2==0:
    print(num, 'is even number.' )
else:
    print(num, 'is odd number.' )

45 is odd number.